<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shubahm singh</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Plus+Jakarta+Sans:wght@300;400;600&family=Roboto:wght@100;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/assets/logo.jpg">
</head>
<body>
    
    <div class="navbar">
        <img src="/assets/logo.jpg">
        <div class="option">
            <a id="protfolio" >About</a>
            <a id="skill">Skills</a>
            <a id="fun">Contact me</a>
        </div>
    
    </div>
    <div class="landing">
        <div class="intro">
            <h3>I'M&nbsp;<span>Shubham Singh</span><br>Student<br>(B.Tech-Computer science)</h3>
            <button id="fun2" >Contact Me</button>
        </div>
        <div class="image">
            <img src="/assets/shubham.png" alt="profile">
        </div>
        <div class="social">
          <a href="https://linkedin.com/in/shubham-singh1611"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://github.com/Shubhamsingh-1611"><i class="fa-brands fa-github"></i></a>
          <a href="https://www.instagram.com/singh_shubham8789?igsh=NTFoNnl0bGJjeGJk"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://wa.link/weae5j"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
    </div>
    <div class="about">
        <h1 style="color:#fbfbfb"><u>Ab</u>out</h1>
        <p>Hey there! I'm a second-year B.Tech Computer Science student diving deep into the world of MERN stack development. With Node.js, Express.js, MongoDB, Bootstrap, React, HTML, and CSS under my belt, I'm all geared up to craft amazing web applications.

            Beyond these, I've also got a solid foundation in Java and C programming languages. <span>My aspiration? To become a software engineer and make meaningful contributions to the programming universe</span>.
            
            In my first year, I managed to achieve a CGPA of 9.04, and I'm eager to take on new challenges and opportunities to further hone my skills. I'm actively seeking chances to put my knowledge into action and make a real impact in the field of software development.
            
            <br><br>while I'm not coding I like to listen to music and reading books.</p>
    </div>
    <h1>My Ski<u>lls</u></h1>
    <div class="skill">
        <div class="skill-name">
           
         <img src="/assets/java.png" alt="java">
        
        <div class="name">
            <h2>Java</h2>
        </div>
        </div>
        <div class="skill-name">
           
            <img src="/assets/c.png" alt="java">
           
           <div class="name">
               <h2>c</h2>
           </div>
           </div>
           <div class="skill-name">
           
            <img src="/assets/html2.png" alt="java">
           
           <div class="name">
               <h2>Html</h2>
           </div>
           </div>
           <div class="skill-name">
           
            <img src="/assets/css2.png" alt="java">
           
           <div class="name">
               <h2>CSS</h2>
           </div>
           </div>
           <div class="skill-name">
           
            <img src="/assets/Node.png" alt="java">
           
           <div class="name">
               <h2>Node Js</h2>
           </div>
           </div>
           <div class="skill-name">
           
            <img src="/assets/js.png" alt="java">
           
           <div class="name">
               <h2>Js</h2>
           </div>
           </div>
           
           <div class="skill-name">
           
            <img src="/assets/sql.png" alt="java">
           
           <div class="name">
               <h2>My Sql</h2>
           </div>
           </div>
           <div class="skill-name">
           
            <img src="/assets/mongodb.png" alt="java">
           
           <div class="name">
               <h2>Mongo DB</h2>
           </div>
           </div>
           <div class="skill-name">
           
            <img src="/assets/react.png" alt="java">
           
           <div class="name">
               <h2>React</h2>
           </div>
           </div>
           <div class="skill-name">
           
            <img src="/assets/boot.jpg" alt="java">
           
           <div class="name">
               <h2>Bootstrap</h2>
           </div>
           </div>
           <div class="skill-name">
           
            <img src="/assets/material.png" alt="java">
           
           <div class="name">
               <h2>Material UI</h2>
           </div>
           </div>
       
    </div>
    <div class="project">
        <h1><u>pro</u>jects</h1>
      
        <div class="first">
            
            <div class="data">
            <h2>Wanderlust – Airbnb Clone</h2>
            <p><b>Skills:</b> JavaScript · MERN Stack · Express.js · Node.js · MongoDB · Bootstrap (Framework) · Cascading Style Sheets (CSS) · HTML5</p>
            <p>The following is the full stack project which is same as the Airbnb website. Here we can add aur place frontend and view the flat, house, villa etc. For booking. Here map is also used by using MapBox Map API. The Technology used in this project are HTML, CSS & JavaScript for Frontend and Node JS and express JS for backend. Mongo DB database is used in this project. This is a fully functional website.</p>
        </div>
      </div>
      <div class="first">
            
        <div class="data">
        <h2>Weather Info APP using REACT </h2>
        <p><b>Skills:</b>Material-UI · JavaScript · MERN Stack · React.js · Bootstrap (Framework) · Cascading Style Sheets (CSS) · HTML5</p>
        <p>The following is the project made only by using REACT. In the following Project we can get the weather of the place
            just by entering the name of the place. Open Weather API is used in the following project which gives information
            about the weather of the particular city. This is a fully functional website.
        </p>
    </div>
  </div>
  <div class="first">
            
    <div class="data">
    <h2>Simon Game</h2>
    <p><b>Skills:</b> Project Management · Project Planning · JavaScript · Bootstrap (Framework) · Cascading Style Sheets (CSS) · HTML5</p>
    <p>The following is the Simon game in which we have to choose one color from the four colors after that, whichever color blink then click on that by keeping order of the previous colors. The logic of the following game is written in JavaScript. I recommend you try this game.                                                                                                                                </p>
</div>
</div>
<div class="first">
            
    <div class="data">
    <h2>Spotiy Clone</h2>
    <p><b>Skills:</b>Project Management · Project Planning · Bootstrap (Framework) · Cascading Style Sheets (CSS) · HTML5</p>
    <p>This project serves as a practical learning experience for web developers seeking to deepen their understanding of front-end development. By mimicking Spotifi's interface, it delves into the intricacies of HTML and CSS, encompassing layout structuring, design principles, and the implementation of various design elements.   </p>
</div>
</div>
<div class="first">
            
    <div class="data">
    <h2>Amazon Clone-Frontent</h2>
    <p><b>Skills:</b>Project Management · Project Planning · Bootstrap (Framework) · Cascading Style Sheets (CSS) · HTML5</p>
    <p>This project serves as a practical learning experience for web developers seeking to deepen their understanding of front-end development. By mimicking Amazon's interface, it delves into the intricacies of HTML and CSS, encompassing layout structuring, design principles, and the implementation of various design elements. </p>
</div>
</div>
      </div>
    <div class="experience">
        <h1>Experi<u>ence</u></h1>
        
        <div class="first">
            
            <div class="data">
            <h2>Web Developer Intern| Kashyap Technoengicon India Pvt Ltd.</h2>
            <h4>Mumbai,Maharashtra</h4>
            <p>Currently, at Kashyap Technologicon India Pvt Ltd, I'm spearheading the development of the company website. Using HTML, CSS, and JavaScript for the frontend, I'm creating an intuitive, responsive user interface. On the backend, I'm using Node.js and Express.js to ensure a robust infrastructure, while MongoDB handles our dynamic data needs. My focus is on delivering a high-quality, secure, and user-friendly website that aligns with the company's objectives.</p>
        </div>
        </div>
        
    </div>
    <div class="footer">
        <h1>Contact Me</h1>
        <div class="button">
            <button class="btn"><i class="fa-regular fa-envelope"></i>singh16112004@gmail.com</button>
            <button><i class="fa-solid fa-square-phone"></i>&nbsp;8789030726</button>
            <button><i class="fa-solid fa-location-dot"></i>Ghaziabad,UP</button>
        </div>
    </div>
    <script src="/js/script.js" ></script> 
    <!-- <div class="container"><%-body%></div> -->
 
</body>

</html>